@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');
/* 상단바 */
body {
    height: 100%;
    font-family: 'Livvic', sans-serif;
    padding-top : 75px;
    background-color:aliceblue;
}

.menu {
    position: fixed;
    top : 0;
    left : 0;
    width : 100%;

    height : 75px;
    background-color:rgb(152, 193, 247);
    display : flex;
    justify-content : space-between;
    align-items: center;
    z-index: 1;
}

.menu p{
    padding-left : 15px;
}

.menu-bar {
    margin : 15px;
    font-weight: bold;
}

.menu-index {
    display : flex;
}

.menu li {
    margin : 5px;
}

nav ul {
    list-style-type : none;
}

nav a {
    color:black;
    display: block;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* 소개글 */
.about {
    margin-bottom: 100px;
}

.about-main {
    margin : 75px;
    display : flex;
    justify-content : center;
    align-items: center;
}

.about #profile {
    margin : 50px;
    border-radius: 50%;
}

/* footer */
footer {
    margin-top: 20px;
    margin-bottom : 20px;
    left : 0;
    width : 100%;
    height : 75px;
    display : flex;
    justify-content : space-around;
    align-items: center;
    text-align: center;
}

/* contact창 */
.contact {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 75px;
}
.contact h1 {
    font-size : 30px;
}
.contact-main {
    margin-right: 200px;
}

.contact-form {
    background-color: white;
    padding:40px;
    box-shadow: 5px 5px 10px 5px rgb(158, 149, 149);
    font-size: 20px;
    margin: 0;
}
.contact input{
    height: 30px;
    width: 168px;
}
.contact textarea {
    height: 90px;
    width: 376px;
}

.name {
    display: flex;
}

.first-name {
    margin-right: 30px;
}

/* 이력서 */
.resume h1{
    margin: 50px;
    font-size: 40px;
}

.resume-main {
    align-items: center;
    margin : 50px;
}

.resume-content {
    background-color: white;
    margin : 30px;
    padding : 70px;
    padding-right: 100px;
    padding-left : 100px;
    min-width : 800px;
    z-index: 1;
    box-shadow: 5px 5px 10px 5px rgb(122, 118, 118);
}
.resume-content header {
    margin : 50px;
}

.work-experience {
    display: flex;
    margin-bottom : 20px;
    justify-content: space-between;
    align-items:center;
}

.education {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top : 20px;
}

.my-resume {
    display: flex;
}

.my-resume div {
    margin : 20px;
}



